{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
  {{ partial "mobile_nav_toggle.html" . }}
  <div class="row">
    <div class="col-lg-8">
      <div class="content-column-content">
        <h1>{{ .Title }}</h1>
        {{ .Content }}
        {{ template "_internal/disqus.html" . }}
        <a href="https://twitter.com/intent/tweet?button_hashtag=六甲学院物理部2021&ref_src=twsrc%5Etfw"
          class="twitter-hashtag-button" data-show-count="false">Tweet #六甲学院物理部2021</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>
</div>
{{ end }}